[submodule ".registry"]
	path = .registry
	url = https://github.com/enchufa2/universe
	branch = HEAD
[submodule "RcppXPtrUtils"]
	path = RcppXPtrUtils
	url = https://github.com/Enchufa2/RcppXPtrUtils
[submodule "bmetr"]
	path = bmetr
	url = https://github.com/Enchufa2/bmetr
[submodule "bspm"]
	path = bspm
	url = https://enchufa2.github.io/bspm
[submodule "constants"]
	path = constants
	url = https://github.com/r-quantities/constants
[submodule "errors"]
	path = errors
	url = https://github.com/r-quantities/errors
[submodule "flexiblas"]
	path = flexiblas
	url = https://github.com/Enchufa2/r-flexiblas
[submodule "quantities"]
	path = quantities
	url = https://github.com/r-quantities/quantities
[submodule "rspm"]
	path = rspm
	url = https://enchufa2.github.io/rspm
[submodule "simmer"]
	path = simmer
	url = https://github.com/r-simmer/simmer
[submodule "simmer.bricks"]
	path = simmer.bricks
	url = https://github.com/r-simmer/simmer.bricks
[submodule "simmer.plot"]
	path = simmer.plot
	url = https://github.com/r-simmer/simmer.plot
[submodule "units"]
	path = units
	url = https://github.com/r-quantities/units
